@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PP Monument Extended';
  src: url('/PP Monument Extended/PPMonumentExtended-Regular.woff2') format('woff2'),
       url('/PP Monument Extended/PPMonumentExtended-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PP Monument Extended';
  src: url('/PP Monument Extended/PPMonumentExtended-Bold.woff2') format('woff2'),
       url('/PP Monument Extended/PPMonumentExtended-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PP Monument Extended';
  src: url('/PP Monument Extended/PPMonumentExtended-Black.woff2') format('woff2'),
       url('/PP Monument Extended/PPMonumentExtended-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PP Monument Extended';
  src: url('/PP Monument Extended/PPMonumentExtended-Light.woff2') format('woff2'),
       url('/PP Monument Extended/PPMonumentExtended-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PP Monument Extended';
  src: url('/PP Monument Extended/PPMonumentExtended-Thin.woff2') format('woff2'),
       url('/PP Monument Extended/PPMonumentExtended-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --retro-font: 'VT323', monospace;
  --font-pt-monument: 'PP Monument Extended', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pt-momument);
}

/* .retro-text {
  font-family: var(--retro-font);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
} */
